/* Stylizacja kolumn dla wersji desktopowej */
.filter-column {
  width: 20%;
  box-shadow: 0 0 10px blueviolet;
  padding: 10px;
  height: fit-content;
}

.post-column {
  width: 80%;
}

/* Opcjonalne dostosowanie dla wersji mobilnej */
@media (max-width: 768px) {
  .filter-column,
  .post-column {
    width: 100%;
  }
}
