/* Stylizacja dla sticky-top */
.sticky-top {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1030;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.sticky-top.scrolled {
  border-bottom: 3px solid rgb(51, 8, 59);
  background-color: hsla(0, 0%, 13%, 1);
}

/* Stylizacja tekstu w navbarze */
.navbar-text {
  text-decoration: none;
  color: rgb(255, 255, 255) !important; /* Domyślnie biała */
  transition: color 0.3s ease;
}

.text-scrolled {
  color: rgb(255, 255, 255) !important; /* Po przewinięciu czarna */
}

/* Stylizacja przycisków */
.btn-user {
  color: white;
  background: none;
  border: 1px solid rgb(255, 255, 255);
  margin: 4px;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn-scrolled {
  color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

.btn-user:hover {
  background-color: blueviolet;
  transition: background-color 0.3s ease;
}

/* Stylizacja ikon i przycisku togglera */
.navbar-toggler-icon {
  filter: invert(1); /* Domyślnie biała */
  transition: filter 0.3s ease;
}

.icon-scrolled {
  filter: invert(1); /* Po przewinięciu czarna */
}

.navbar-toggler {
  border: 1px solid white !important;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.button-scrolled {
  border: 1px solid rgb(255, 255, 255) !important;
}

/* Stylizacja tekstu przycisków w nawigacji */
.btn-text {
  transition: color 0.3s ease;
  margin: 0 2em 0 2em;
  padding: 1em;
  transition: background-color 0.3s ease;
}

.btn-text:hover {
  background-color: blueviolet;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}


/* Stylizacja modala */
.modal-dialog-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 50%;
  max-height: 80vh;
  overflow-y: auto;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

/* Dodatkowe stylizacje dla navbar-btn */
.navbar-btn {
  background: none;
  border: 1px solid rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}

.navbar-btn:hover {
  background-color: blueviolet;
  transition: background-color 0.3s ease;
}
