.sticky-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1030;
}
.sticky-top {
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}
.sticky-top.scrolled {
  border-bottom: 3px solid rgb(51, 8, 59);
  background-color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
  filter: invert(1); /* makes the icon white */
}

.icon-scrolled {
  filter: invert(0); /* makes the icon black */
}
.navbar-toggler {
  border: 1px solid white !important;
  transition: background-color 0.3s ease;
}
.navbar-toggler:hover {
 background-color: blueviolet;
 transition: background-color 0.3s ease;
}
.button-scrolled {
  border: 1px solid black !important;
}
.popup-ssesion-ove{
  background-color: white;
  padding: 1em;
  border: 1 px solid black;
}
.navbar-text {
  text-decoration: none;
  color: rgb(255, 255, 255) !important; /* makes the text white */
}
.btn-text{ 
  transition: color 0.3s ease;
  margin:0 2em 0 2em;
  padding: 1em;
  transition: background-color 0.3s ease;
}
.btn-text:hover {
  background-color:blueviolet;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.navbar-btn{
  background:none;
  border: 1px solid rgb(255, 255, 255);
  transition: background-color 0.3s ease;
}
.btn-scrolled{
  border: 1px solid black !important;
  background-color: blueviolet !important;
  transition: background-color 0.3s ease !important;
}
.btn-scrolled:hover{
  color: black ;
  background:none !important;
  transition: background-color 0.3s ease !important;
}
.text-scrolled {
  color: rgb(0, 0, 0) !important; /* makes the text black */
}
.navbar-toggler:focus {
box-shadow: none !important;
}
.btn-user{
  color: white;
  background:none;
  border: 1px solid rgb(255, 255, 255);
  margin: 4px;
  padding: 8px;
  font-size: 1em;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.btn-user:hover{
background-color: blueviolet;
transition: background-color 0.3s ease;
}
.modal-dialog-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    max-height: 80vh; /* Dodano maksymalną wysokość, aby uniknąć przekraczania widoku */
    overflow-y: auto; /* Dodano overflow-y, aby dodać pasek przewijania, jeśli zawartość przekracza maksymalną wysokość */
    margin: auto;
    border: 1px solid black; /* Solidne obramowanie 1 px */
    border-radius: 10px; /* Zaokrąglone krawędzie */
  }

  /* Dodaj do navbarStyle.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Kolor tła */
    z-index: 1000; /* Upewnij się, że jest na wierzchu */
  }
  