.sticky-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 1030;
}
.sticky-top {
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}
.sticky-top.scrolled {
  border-bottom: 3px solid rgb(51, 8, 59);
  background-color: rgb(255, 255, 255);
}
.navbar-toggler-icon {
  filter: invert(1); /* makes the icon white */
}

.icon-scrolled {
  filter: invert(0); /* makes the icon black */
}
.navbar-toggler {
  border: 1px solid white !important;
}
.button-scrolled {
  border: 1px solid black !important;
}
.navbar-text {
  text-decoration: none;
  margin-right: 2em;
  color: rgb(255, 255, 255) !important; /* makes the text white */
  transition: color 0.3s ease;
}

.text-scrolled {
  color: rgb(0, 0, 0) !important; /* makes the text black */
}


.modal-dialog-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50%;
    max-height: 80vh; /* Dodano maksymalną wysokość, aby uniknąć przekraczania widoku */
    overflow-y: auto; /* Dodano overflow-y, aby dodać pasek przewijania, jeśli zawartość przekracza maksymalną wysokość */
    margin: auto;
    border: 1px solid black; /* Solidne obramowanie 1 px */
    border-radius: 10px; /* Zaokrąglone krawędzie */
  }

  /* Dodaj do navbarStyle.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Kolor tła */
    z-index: 1000; /* Upewnij się, że jest na wierzchu */
  }
  