/* Efekt hover na kartach */
.post-tile {
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
}

.post-tile:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
}

/* Ukrycie interakcji z obrazkami */
.no-download {
  pointer-events: none;
}

/* Stylizacja dla miniatur wideo w kafelkach */
.post-tile .bg-light {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

/* Stylizacja dla modalu, aby centrować go na ekranie */
.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Modal content styling */
.custom-modal-content {
  background-color: #fff;
  border-radius: 0.3rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Obrazek lub wideo maksymalnie szerokie w modalnym oknie */
.custom-modal-content img,
.custom-modal-content .modal-media {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Dostosowanie kontenera wideo dla pełnowymiarowego wyświetlania */
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
  height: 0;
  overflow: hidden;
}

.video-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Wyłączenie interakcji z mediami w modalnym oknie */
.custom-modal-content img,
.custom-modal-content .modal-media,
.custom-modal-content audio {
  pointer-events: none;
  user-select: none;
}

/* Zapobieganie wyświetlaniu menu kontekstowego na mediach */
.custom-modal-content img,
.custom-modal-content .modal-media,
.custom-modal-content audio {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Ukrycie przycisku pobierania w kontrolkach wideo (dla niektórych przeglądarek) */
.custom-modal-content video::-internal-media-controls-download-button {
  display: none;
}

.custom-modal-content video::-webkit-media-controls-enclosure {
  overflow: hidden;
}
