.carousel-bg {
    background-color: #a52a2a;
    padding-top: 4em;
    padding-bottom: 2em;
    background-image: url('../images/slider-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .carousel {

    margin-left: auto;
    margin-right: auto;
  }
  
  .slider-img {
    display: flex;
    justify-content: center; /* Wyrównanie w poziomie */
    align-items: center; /* Wyrównanie w pionie */
    height: 30em;
  }
  
  .centered-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Zachowanie proporcji */
  }
  
  @media only screen and (max-width: 1281px) {
    .carousel {
      width: 90%;
    }
  }
  